<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col">
          <h2 for="">Login</h2>
      </div>
  </div>
      <div class="row">
          <div class="col">
                  <div class="form-group">
                          <label for="">Email:</label>
                          <input type="text" class="form-control" formControlName="email">
                      </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                      <label for="">Password:</label>
                      <input type="password" class="form-control" formControlName="password">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col d-flex justify-content-center">
              <button [disabled]='loginForm.invalid' type="submit" class="btn btn-primary">Login</button>
          </div>
      </div>
      

  </form>
</div>
