
    <div class="row d-flex">
        <div class="col">
                <!-- <div id="user-photo" class="mr-3"></div> -->
                <div>
                    <div class="row">
                        <div class="col-4">
                            <img src="https://images.askmen.com/1080x540/2016/01/25-021526-facebook_profile_picture_affects_chances_of_getting_hired.jpg" alt="">
                        </div>
                        <div class="col">
                            <div class="shift">
                                    <p >Foo Bar</p>
                                    <p >blah@email.com</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center mt-5"> 
            <a routerLink="/message">
            <button class="btn btn-primary btn-lg main-button">new message</button>
        </a>
        </div>  
    </div>
    <div class="ml-2 mt-5">
            <i class="fa fa-caret-down"></i>
        <label>Inbox (2)</label>
    </div>
       <div class="ml-2">
            <i class="fa fa-caret-down"></i>
           <label>Drafts</label>
    </div>
    <div class="ml-2">
            <i class="fa fa-caret-down"></i>
            <label>Sent</label>
    </div>
    <div class="ml-2">
            <i class="fa fa-caret-down"></i>
            <label>Spam</label>


    </div>
    <div class="ml-2">
            <i class="fa fa-caret-down"></i>
            <label>Trash</label>

    </div>



