.flex-container {
    display: flex;
    justify-content: left;
  }

  img {
    margin-top: 10px;
    width: 108px;
    height: 110px;
    border-radius: 50%;
  }

i {
  font-size: 18px;
  margin-right: 5px;
  color: #007bff;
}
.main-button{
  width: 200px;
  }
p {
  margin: 0;
}

.shift {
  margin-top: 30px;
}
  

// * {
//     background: rgba(0, 0, 0, 0.04)
// }
//pro tip select  eveything 