<div>
    <div class="my-5 mr-4">
        <ul>
            <div  class="row">
                <div class="col-12 p-0">
                    <div class="d-flex row ">
                        <div class="col email-sender">
                            <h5>Normal Darin</h5>
                        </div>
                        <div class="col shift">9:42 am</div>
    
                    </div>
                </div>

                <div>
                    <h5>Why I'm bad at rocket league</h5>
                </div>

                <p appOnHover> <!--Directive for changing paragraph background-->
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nam impedit laboriosam ducimus
                    totam quidem. Laudantium, corrupti veniam animi ad, facilis dolores delectus nobis eum earum beatae
                    ullam sapiente suscipit consequuntur cum ipsam quibusdam fugiat fugit inventore dicta quis praesentium
                    nihil eveniet necessitatibus consequatur. Recusandae.
                </p>
            </div>

            <div  class="row">
                <div class="col-12 p-0">
                    <div class="d-flex row ">
                        <div class="col email-sender">
                            <h5>Connor Steele</h5>
                        </div>
                        <div class="col shift">Yesterday</div>
    
                    </div>
                </div>

                <div>
                    <h5>My ribs!</h5>
                </div>

                <p appOnHover> <!--Directive for changing paragraph background-->
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sunt quibusdam voluptate facilis? Quod, repudiandae dolorum. Fuga nemo totam aut accusamus nobis aliquid, nisi error placeat optio autem ut aperiam asperiores maiores commodi illum quas harum cum vel eos velit!
                </p>
            </div>    

            <div  class="row">
                <div class="col-12 p-0">
                    <div class="d-flex row ">
                        <div class="col email-sender">
                            <h5>Kyle Sweeney</h5>
                        </div>
                        <div class="col shift">May 1st</div>
    
                    </div>
                </div>

                <div>
                    <h5>Re: Order Status</h5>
                </div>

                <p appOnHover> <!--Directive for changing paragraph background-->
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, est. Explicabo id neque quia perspiciatis repellendus tenetur iste sit aut adipisci distinctio! Modi rem voluptatibus quo, impedit blanditiis atque in aut aperiam esse.
                </p>
            </div>

            <div  class="row">
                <div class="col-12 p-0">
                    <div class="d-flex row ">
                        <div class="col email-sender">
                            <h5>LeMer, Inc</h5>
                        </div>
                        <div class="col shift">April 1st</div>
    
                    </div>
                </div>

                <div>
                    <h5>Oakdale, budddddd</h5>
                </div>

                <p appOnHover> <!--Directive for changing paragraph background-->
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nam impedit laboriosam ducimus
                    totam quidem. Laudantium, corrupti veniam animi ad, facilis dolores delectus nobis eum earum beatae
                    ullam sapiente suscipit consequuntur cum ipsam quibusdam fugiat fugit inventore dicta quis praesentium
                    nihil eveniet necessitatibus consequatur. Recusandae.
                </p>
            </div>

            <!-- <div class="d-flex row">
                <div class="col email-sender">
                    <h5>Laine Williams</h5>
                </div>
                <div class="col shift">Yesterday</div>

            </div>
            <div>
                <h5>Re:Lunch meeting</h5>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit id fugiat quae, nostrum eligendi
                repellat nesciunt. Nam debitis porro in non ipsa reprehenderit inventore repellat, ab similique vero
                libero esse earum. Consequuntur?
            </p>


            <div class="d-flex row">
                <div class="col email-sender">
                    <h5>Sam Skully</h5>
                </div>
                <div class="col shift">June, 14th</div>

            </div>
            <div>
                <h5>Technical Issues</h5>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, nam impedit laboriosam ducimus
                totam quidem. Laudantium, corrupti veniam animi ad, facilis dolores delectus nobis eum earum beatae
                ullam sapiente suscipit consequuntur cum ipsam quibusdam fugiat fugit inventore dicta quis praesentium
                nihil eveniet necessitatibus consequatur. Recusandae.
            </p>


            <div class="d-flex row">
                <div class="col email-sender">
                    <h5>LeMer, LLC.</h5>
                </div>
                <div class="col shift">May, 25th</div>

            </div>

            <div>
                <h5>Re: Project info</h5>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates assumenda blanditiis ab, quam
                tempore vitae alias voluptatum eos perspiciatis ducimus praesentium fuga tempora recusandae minus!
            </p> -->

        </ul>
    </div>
 
</div>