<div class="background-image pt-5">
    
    
<div class="bg-primary container ">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="row text-center">
            <div class="col ">
                <h2 class="text-white" for="">Message Form</h2>
            </div>
        </div>




        <!--Input field for Email-->

        <div class="row ">
            <div class="col">
                <div class="form-group from width">
                    <label for="">From</label>
                    <input type="text" class="from-input form-control " formControlName="from">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <button class="button-rad mr-1" for="">CC</button>
                        
                    </div>
                </div>
            </div>
    
            <div class="row ">
                <div class="col ">
                    <div class="form-group">
                        <button class="button-rad" for="">BCC</button>
                    </div>
                </div>
            </div>
        </div>

       

        <!--Input field for Password-->

        <div class="row">
            <div class="col">
                <div class="form-group from width">
                    <label for="">Subject</label>
                    <input type="text" class="form-control ml-2" formControlName="subject">
                </div>
            </div>
        </div>

        

        <textarea name="career[message]" class="form-control messagebox" tabindex="4"
        placeholder="Start Message Here" required></textarea>

       



        <div class="row">
            <div class="col d-flex justify-content-left">
               <a routerLink="/home"> <button [disabled]='signupForm.invalid' type="submit" class="btn btn-primary">Send</button>
                </a>
            </div>
        </div>


    </form>
</div>
</div>