/* You can add global styles to this file, and also import other style files */
.background-image { 

    background-image: url('assets/background-black-colors-952670.jpg');
    width: 100vw;
    height: 105vh;
}